%h1
  = "Editing article"

- if @article.errors.any?
  %div{:style => "color: red"}
    = "New Article creation failed. Please check following error messages:"
    %ul
      - @article.errors.full_messages.each do |message|
        %li
          = message

= form_with(model: @article, local: true) do |f|
  %div
    = f.label :title
    %br
    = f.text_field :title
  %div
    = f.label :description
    %br
    = f.text_area :description
  %div
    = f.submit