%h1
  Articles Listing Page

%table{:cellspacing => "0", :cellpadding => "1px", :border => "1px solid"}
  %thead
    %tr
      %th
        = "Title"
      %th
        = "Description"
      %th
        = "Actions"
    %tbody
      - @articles.each do |article|
        %tr
          %td
            = article.title
          %td
            = article.description
          %td
            = "Placeholder"
